@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
    --color-accent: #00809D;
    --color-accent-hover: #006B7A;
    --color-accent-dark: #1B2643;
    --color-accent-light: #00BEE9; 
  --color-vip: #EA9F13;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@theme {
  --animate-fade-in: fadeIn 0.6s ease-in-out;
  --animate-fade-in-up: fadeInUp 0.6s ease-in-out;
  --animate-slide-in-left: slideInLeft 0.6s ease-in-out;
  --animate-slide-in-right: slideInRight 0.6s ease-in-out;

  @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        @keyframes slideInLeft {
            from {
                opacity: 0;
                transform: translateX(-30px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        @keyframes slideInRight {
            from {
                opacity: 0;
                transform: translateX(30px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
}



:root {
  --text-primary: #1f2937; 
  --text-secondary: #6b7280; 
  --background: #ffffff;

}



body {
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* styles/editor.css */
#editorjs h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
#editorjs p {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
#editorjs ul {
  padding-left: 1.5rem;
  list-style: disc;
}

#editorjs,
.ce-block,
.ce-block__content,
.ce-toolbar__content {
  max-width: 100% !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  box-sizing: border-box;
}

/* Sweet Alert */
.colored-toast.swal2-icon-success {
  background-color: var(--color-green-400) !important;
}

.colored-toast.swal2-icon-error {
  background-color: var(--color-red-400) !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
