@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #00809D;
  --coolor-accent-hover: #006B7A;
  --color-accent-dark: #1B2643;
  --color-accent-light: #00BEE9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@theme {

  --animate-fade-in: fadeIn 0.6s ease-in-out;
  --animate-fade-in-up: fadeInUp 0.6s ease-in-out;
  --animate-slide-in-left: slideInLeft 0.6s ease-in-out;
  --animate-slide-in-right: slideInRight 0.6s ease-in-out;

  @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        @keyframes slideInLeft {
            from {
                opacity: 0;
                transform: translateX(-30px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        @keyframes slideInRight {
            from {
                opacity: 0;
                transform: translateX(30px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* styles/editor.css */
#editorjs h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
#editorjs p {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
#editorjs ul {
  padding-left: 1.5rem;
  list-style: disc;
}
